{% set props = ({
  id: "",
  name: "",
  value, "",
  disabled: false,
  checked: false,
  data: {
    img: "",
    name: "",
    id: "",
  }
})|merge(props ?: {}) %}

<div class="relative">
  <label for="{{props.name ~ '-' ~ props.id}}" class="absolute inset-0"></label>
  <input id="{{props.name ~ '-' ~ props.id}}" value="{{props.value}}" class="absolute -z-10 top-0 left-0 -translate-x-full opacity-0" type="radio" name="{{props.name}}"{{props.disabled ? ' disabled'}}{{props.checked ? ' checked'}}>
  <div class="flex flex-col items-center pt-3 pb-2 px-1 rounded-[0.6rem] transition outline outline-1 -outline-offset-2 outline-transparent [input:hover+&]:outline-[#D9D9D9]/50 [input:checked+&]:!outline-black/50 [input:disabled+&]:opacity-10 min-h-[13.6rem] max-w-[13rem]">
    <div class="w-[5rem] h-[5rem] rounded-[0.4rem] border border-black/10 mb-1.5">
      <img data-src="{{props.data.img}}" alt="" class="object-cover w-full h-full lazy">
    </div>
    <p class="text-b mb-0.5 text-center">{{props.data.id}}</p>
    <p class="text-r-s text-center">{{props.data.name}}</p>
  </div>
</div>